= form_for :buckets, html: { class: 'nice', id: 'buckets_form' }, url: '/buckets/steps' do |f|
  .form-field
    = f.label :bucket_a_size, 'Size of Bucket A'
    = f.text_field :bucket_a_size, class: 'input-text'

  .form-field
    = f.label :bucket_b_size, 'Size of Bucket B'
    = f.text_field :bucket_b_size, class: 'input-text'

  .form-field
    = f.label :target_size, 'Desired Amount of Water'
    = f.text_field :target_size, class: 'input-text'

  .form-field
    = f.submit 'Get Solution!'
