%h2 Share this with a friend!
= form_for :share, html: { class: 'nice', id: 'share_form' }, url: '/share' do |f|
  .form-field
    = f.label :name, 'Your Name'
    = f.text_field :name, class: 'input-text', required: true

  .form-field
    = f.label :target_name, 'Your Friend\'s Name'
    = f.text_field :target_name, class: 'input-text', required: true

  .form-field
    = f.label :target_email, 'Your Friend\'s Email'
    = f.text_field :target_email, class: 'input-text', required: true

  .form-field
    = f.submit 'Share!'
