!!!
%html
  %head
    %title BucketerWebapp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'shared/github_ribbon'
    .container
      .row
        %h1 Bucketer
    .container
      - # TODO: This looks pretty ugly, extract into helper or partial
      - if alert || notice
        .row
          - if alert
            .alert-box.error
              = alert
          - if notice
            .alert-box.success
              = notice
      #buckets
        = yield

    .container#bottom-half
      .row
        = render 'shared/developer_section'
